 <div id="header">
        	<a id="logo" href="index.php">
                <img src="https://cdn0.iconfinder.com/data/icons/typicons-2/24/flow-switch-128.png">
            </a>
            <div id="search"></div>
            <div id="graphic-title-and-subtitle">
                <div id="graphic-title">{{title}}</div>
                <div id="graphic-subtitle">{{sub}}</div>
                
				  <div id="datetimepickerStart" class="input-append date">
				    <input data-format="dd/MM/yyyy@hh:mm:ss" type="text" id="start_date" placeholder="start"></input>
				    <span class="add-on">
				      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
				      </i>
				    </span>
				  </div>
				  <div id="datetimepickerEnd" class="input-append date">
				    <input data-format="dd/MM/yyyy@hh:mm:ss" type="text" id="end_date" placeholder="end"></input>
				    <span class="add-on">
				      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
				      </i>
				    </span>
				  </div>
				
				<script type="text/javascript">
				  $(function() {
				    $('#datetimepickerStart, #datetimepickerEnd').datetimepicker({
				    	format: 'dd/MM/yyyy@hh:mm:ss'
				    	//language: 'pt-BR'
				    });
				  });
				</script>
				<button id="submit" type="button" class="btn btn-default btn-sm">Send</button>
				<div id="explanation">Waiting for user input</div>
                <div id="loader"></div>
				<script type="text/javascript">
			        $('#submit').on("click",function() { 
			        	var date_regex = /^([123]0|[012][1-9]|31)\/(0[1-9]|1[012])\/(19[0-9]{2}|2[0-9]{3})@([01][0-9]|2[0-3]):([0-5][0-9]):([0-5][0-9])$/ ;
						var to_submit_s = $("#start_date").val();
						var to_submit_e = $("#end_date").val();
			        	if( (date_regex.test(to_submit_s)) && (date_regex.test(to_submit_e)) ){
			        		start_spinner();
			        		$.ajax({
								url: "{{post_page}}",
								type: 'POST',
								data: { 'start_date': to_submit_s,
										'end_date': to_submit_e,
										'name': string_name, //defined in header.js
										'graph': "{{post_page}}" },
								success: function (data) {
									  console.log(data);
									  if ( data.indexOf("fail") < 0 ){
										mid_spinner();
									  	{{chart}}
									  }else{
									  	end_spinner();
									  	alert("please, decrement time interval");
									  }
									}
							});
			        	}	
		        	});
		        </script>
            </div>
        </div>